.wrapCard{
    max-height: 500px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 20px;
    gap: 2vh;
    padding: 20px;
    border: 2px solid var(--light-gray);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.wrapCard img{
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.wrapCard h3, .wrapCard p{
    width: 100%;
    text-align: left;
}


