:root {
--back: #090909;
--white: #ffffff;
--green: #15616D;
--beige: #FFECD1;
--orange: #FF7D00;
--brown: #78290F;
--dark: #001524;

}



body {
background-color: var(--dark);
color : var(--beige);
}
