:root {
    --concrete-gray: #2a2d34;   /* Cinza escuro, lembra concreto urbano */
    --light-gray: #e0e0e0;      /* Cinza claro, contraste suave */
    --burnt-orange: #f29f05;    /* Laranja queimado, energia do asfalto aquecido */
    --petrol-green: #00916e;    /* Verde petróleo, vibe streetwear */
    --neon-yellow: #ffe156;     /* Amarelo neon, toque vibrante do grafitti */
    --soft-coral: #fa824c;      /* Coral suave, para destacar títulos */
    --deep-navy: #4d4c7d;       /* Azul escuro, moderno e intenso */
}

#s1{
  color: var(--light-gray);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--concrete-gray);
  color: var(--light-gray);
}
a{
  text-decoration: none;
  color: var(--light-gray);
  opacity: 0.5;
  transition: all 200ms ease-in-out;
}

a:hover{
  opacity: 1.5;
}